<template>
  <div>
    <base-dialog :show="!!error" title="ERROR" @close="handleError">
      <p>{{ error }}</p>
    </base-dialog>
    <base-dialog :show="isLoading" title="Authenticating..." fixed>
      <base-spinner></base-spinner>
    </base-dialog>
    <base-card>
      <form @submit.prevent="submitForm">
        <div class="form-control">
          <label for="email">E-mail</label>
          <input type="email" id="email" v-model.trim="email" />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" id="password" v-model.trim="password" />
        </div>
        <p v-if="!formIsValid">Email or Password incorrect.</p>
        <base-button>{{ submitAuthModeCaption }}</base-button>
        <base-button type="button" mode="flat" @click="switchAuthMode">
          {{ switchAuthModeCaption }}
        </base-button>
      </form>
    </base-card>
  </div>
</template>

<script>
import BaseSpinner from '../../components/ui/BaseSpinner.vue';
export default {
  components: { BaseSpinner },
  data() {
    return {
      email: '',
      password: '',
      formIsValid: true,
      mode: 'login',
      isLoading: false,
      error: null
    };
  },
  computed: {
    isCoach() {
      return this.$store.getters['coaches/isCoach'];
    },
    submitAuthModeCaption() {
      if (this.mode === 'login') {
        return 'Login';
      } else {
        return 'SignUp';
      }
    },
    switchAuthModeCaption() {
      if (this.mode === 'login') {
        return 'SignUp';
      } else {
        return 'Login';
      }
    }
  },
  methods: {
    switchAuthMode() {
      if (this.mode === 'login') {
        this.mode = 'signup';
      } else {
        this.mode = 'login';
      }
    },
    async submitForm() {
      if (
        this.email === '' ||
        !this.email.includes('@') ||
        this.password.length <= 5
      ) {
        this.formIsValid = false;
        return;
      }

      this.isLoading = true;
      const actionPayload = {
        email: this.email,
        password: this.password
      };
      try {
        if (this.mode === 'login') {
          await this.$store.dispatch('login', actionPayload);
        } else {
          await this.$store.dispatch('signup', actionPayload);
        }
        const redirectURL = '/' + (this.$route.query.redirect || 'coaches');
        console.log(redirectURL, this.isCoach);
        this.$router.replace(
          this.isCoach && redirectURL === '/register' ? '/coaches' : redirectURL
        );
      } catch (error) {
        this.error = error.message || 'Failed to Authenticate.';
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    }
  }
};
</script>

<style scoped>
form {
  margin: 1rem;
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}
</style>
