<template>
  <the-header title="Hola!!"></the-header>
  <the-resources></the-resources>
</template>
<script>
import TheHeader from './components/layouts/TheHeader.vue';
import TheResources from './components/resources/TheResource.vue';

export default {
  components: {
    TheHeader,
    TheResources
  }
};
</script>
