<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container"  v-if="!winner">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style= "monsterHealthC"></div>
        </div>
      </section>
      <section id="player" class="container"  v-if="!winner">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{width: playerHealth + '%'}"></div>
        </div>
      </section>
      <section class="container" v-if="winner">
        <h2> Game Over!!! </h2>
        <h3 v-if="winner == 'p'"> PLayer Wins !!!</h3>
        <h3 v-else-if="winner == 'm'"> Monster Wins !!!</h3>
        <h3 v-else-if="winner == 'tie'"> TIE !!!</h3>
        <button @click="restart">Restart the Game!</button>
      </section>
      <section id="controls" v-else>
        <button @click="attackMonster">ATTACK</button>
        <button :disabled="currRounds < 3" @click="specialAttackMonster">SPECIAL ATTACK</button>
        <button :disabled="currRounds < 3" @click="heal">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="log in logs">
            <span 
            :class="{'log--player': log.actionBy === 'player','log--monster': log.actionBy === 'monster'}">
              {{log.actionBy === 'player' ? 'Player' : 'Monster'}}
            </span> 
            {{log.actionType === 'attack' ? 'Attacks' : 'Heals'}} 
            <span
            :class="{'log--heal': log.actionType === 'heal', 'log--damage': log.actionType === 'attack'}">
              {{log.actionValue}}
            </span>
            </li>
        </ul>
      </section>
    </div>
  </body>
</html>
