$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-bg: rgba(38, 33, 33, 0.2);
$dark-color: #333;
$login-image: url("../images/1.png");

@function set-text-color($color) {
  @if (lightness($color) > 30) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}
