.container {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

.btn-dark, .btn-light, .btn-main {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #ffbc00;
}
.btn-light {
  color: #333;
  background-color: #f4f4f4;
}
.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

button[class^=btn-]:hover,
a[class^=btn-]:hover,
input[class^=btn-]:hover {
  background-color: #ffbc00;
}

.bg-main {
  background-color: #ffbc00;
  color: #333;
}
.bg-dark {
  background-color: #333;
  color: #f4f4f4;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
}
.bg-medium {
  background-color: #ccc;
  color: #333;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #ffbc00;
  display: block;
  margin: 0 auto 1rem auto;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.33);
}

.item {
  position: relative;
  background: #ffbc00;
  overflow: hidden;
}
.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
.item:hover::after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
.item:hover .item-image {
  transform: scale(1.2);
}
.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
.item-image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  border: 2px solid;
  border-radius: 10%;
}
.item-image:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}
.item-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 450ms;
}
.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-20%);
}
.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}
.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tenali Ramakrishna", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
#main-nav ul {
  display: flex;
}
#main-nav li {
  padding: 1rem 1.5rem;
}
#main-nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}
#main-nav a:hover {
  border-color: #ccc;
}
#main-nav a.current {
  border-color: #ffbc00;
}

.text-type > .txt {
  border-right: 0.1rem solid #fff;
}

#header-home {
  background: rgba(38, 33, 33, 0.5);
  height: 100vh;
  position: relative;
  color: #fff;
}
#header-home .header-content {
  text-align: left;
  padding: 15% 5%;
}
#header-home .header-content h1 {
  font-size: 3rem;
  line-height: 1.5rem;
}
#header-home::before {
  content: "";
  background: url("../images/1.png") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#header-inner {
  background: rgba(38, 33, 33, 0.65);
  height: 5.5rem;
  position: relative;
  border-bottom: 3px solid #ffbc00;
}
#header-inner::before {
  content: "";
  background: url("../images/1.png") no-repeat 5% 15%/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#home-a .specials {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
#home-a .specials .fas {
  color: #ffbc00;
  padding-bottom: 0.4rem;
}
#home-b .stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
#home-b .stats li {
  line-height: 1;
}
#home-b .stats li.stats-title {
  font-size: 1.5rem;
}
#home-b .stats li.stats-number {
  font-size: 2rem;
  font-weight: bold;
}
#home-b .stats div {
  padding: 3rem 0;
}
#home-b .stats div:nth-child(odd) {
  background: #f4f4f4;
}
#home-b .stats div:nth-child(even) {
  background: #ccc;
}
#home-c .process {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1.5rem;
}
#home-c .process-step {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  background: #ffbc00;
  border-radius: 50%;
  line-height: 15px;
  padding: 0.5rem;
  transition: all 1s;
}
#home-c .process-icon {
  position: relative;
  border-radius: 50%;
  background: #333;
  color: #f4f4f4;
  padding: 0.5rem;
  width: 80px;
  height: 80px;
  line-height: 70px;
  text-align: center;
  align-items: center;
  transition: all 1s;
}
#home-c .process-icon:hover {
  background: #ffbc00;
  color: #f4f4f4;
  width: 90px;
  height: 90px;
  line-height: 90px;
}
#home-c .process-icon:hover .process-step {
  background: #333;
  color: #ffbc00;
}

#about-a .about-info {
  display: grid;
  grid-template-areas: "bio-image bio bio" "aw1 aw2 aw3";
  grid-gap: 1.2rem;
}
#about-a .bio-image {
  grid-area: bio-image;
}
#about-a .bio {
  grid-area: bio;
  border-left: 3px solid #ffbc00;
  padding: 0.8rem;
  color: #333;
}
#about-a .award-1 {
  grid-area: aw1;
}
#about-a .award-2 {
  grid-area: aw2;
}
#about-a .award-3 {
  grid-area: aw3;
}
#about-a .award-1 .fas,
#about-a .award-2 .fas,
#about-a .award-3 .fas {
  color: #ffbc00;
  margin: 1rem;
}
#about-b .progress {
  overflow: hidden;
  height: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}
#about-b .progress div {
  height: 100%;
  color: black;
  text-align: center;
  background: #ffbc00;
}

#contact-a .text-feilds {
  display: grid;
  grid-template-areas: "name subject" "email phone" "msg msg";
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}
#contact-a .text-feilds .name-input {
  grid-area: name;
}
#contact-a .text-feilds .email-input {
  grid-area: email;
}
#contact-a .text-feilds .phone-input {
  grid-area: phone;
}
#contact-a .text-feilds .subject-input {
  grid-area: subject;
}
#contact-a .text-feilds .message-input {
  height: 100px;
  grid-area: msg;
}
#contact-a .text-feilds .text-input {
  padding: 0.5rem 1rem;
}
#contact-a button[type=submit] {
  width: 50%;
}
#contact-b .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

#main-footer {
  background: #333;
  color: #f4f4f4;
  height: 5rem;
}
#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}
#main-footer .footer-content .social .fab {
  margin-left: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}
#main-footer .footer-content .social .fab:hover {
  background: #ffbc00;
}/*# sourceMappingURL=styles.css.map */