@import "config";
@import "utilities";
@import "item_grid";

// Core Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tenali Ramakrishna", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

//Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

// mMain Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

.text-type > .txt {
  border-right: 0.1rem solid #fff;
}

// Header
#header {
  &-home {
    background: rgba(38, 33, 33, 0.5);
    height: 100vh;
    position: relative;
    color: #fff;

    .header-content {
      text-align: left;
      padding: 15% 5%;

      h1 {
        font-size: 3rem;
        line-height: 1.5rem;
      }
    }
  }

  &-home::before {
    content: "";
    background: $login-image no-repeat center center / cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &-inner {
    background: rgba(38, 33, 33, 0.65);
    height: 5.5rem;
    position: relative;
    border-bottom: 3px solid $main-color;
  }
  &-inner::before {
    content: "";
    background: $login-image no-repeat 5% 15% / cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

#home {
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

      .fas {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }

  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

      li {
        line-height: 1;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;
        &:nth-child(odd) {
          background: $light-color;
        }
        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }

  &-c {
    .process {
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 1.5rem;

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        background: $main-color;
        border-radius: 50%;
        // height: 15px;
        // width: 15px;
        line-height: 15px;
        padding: 0.5rem;
        transition: all 1s;
      }

      &-icon {
        position: relative;
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 0.5rem;
        width: 80px;
        height: 80px;
        line-height: 70px;
        text-align: center;
        align-items: center;
        transition: all 1s;

        &:hover {
          background: $main-color;
          color: set-text-color($dark-color);
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: $main-color;
          }
        }
      }
    }
  }
}

// about

#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        "bio-image bio bio"
        "aw1 aw2 aw3";
      grid-gap: 1.2rem;
    }

    .bio-image {
      grid-area: bio-image;
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem;
      color: $dark-color;
    }

    .award-1 {
      grid-area: aw1;
    }
    .award-2 {
      grid-area: aw2;
    }
    .award-3 {
      grid-area: aw3;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $main-color;
      margin: 1rem;
    }
  }

  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background-color: $light-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div {
        height: 100%;
        color: black;
        text-align: center;
        background: $main-color;
      }
    }
  }
}

// Footer
#contact {
  &-a {
    .text-feilds {
      display: grid;
      grid-template-areas:
        "name subject"
        "email phone"
        "msg msg";

      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      .name-input {
        grid-area: name;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .subject-input {
        grid-area: subject;
      }
      .message-input {
        height: 100px;
        grid-area: msg;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }
    button[type="submit"] {
      width: 50%;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }
}

#main-footer {
  background: $dark-color;
  color: set-text-color($dark-color);
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-left: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;

      &:hover {
        background: $main-color;
      }
    }
  }
}
