<template>
  <div>
    <base-dialog
      :show="!!error"
      title="An error occurred!!"
      @close="handleError"
    >
      <p>{{ error }}</p>
    </base-dialog>
    <section>
      <base-card>
        <header>
          <h2>Requests Recieved</h2>
        </header>
        <div v-if="isLoading">
          <base-spinner></base-spinner>
        </div>
        <ul v-if="hasRequests">
          <request-item
            v-for="req in recivedRequests"
            :key="req.id"
            :email="req.userEmail"
            :message="req.message"
          >
          </request-item>
        </ul>
        <h3 v-else>No Requests Yet</h3>
      </base-card>
    </section>
  </div>
</template>

<script>
import RequestItem from '../../components/requests/RequestIem.vue';
export default {
  data() {
    return {
      isLoading: false,
      error: null
    };
  },
  components: {
    RequestItem
  },
  computed: {
    recivedRequests() {
      const t = this.$store.getters['requests/requests'];
      return t;
    },
    hasRequests() {
      return this.$store.getters['requests/hasRequests'];
    }
  },
  created() {
    this.loadRequests();
  },
  methods: {
    async loadRequests() {
      this.isLoading = true;
      try {
        await this.$store.dispatch('requests/fetchRequests');
      } catch (error) {
        this.error = error.message || 'Falied to fetch';
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    }
  }
};
</script>

<style scoped>
header {
  text-align: center;
}

ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  max-width: 30rem;
}

h3 {
  text-align: center;
}
</style>
