<template>
  <section>
    <base-card>
      <h2>Page not FOUND!</h2>
      <p>
        This page could not be found - may be check this out.
        <router-link to="/coaches">Coaches</router-link>
      </p>
    </base-card>
  </section>
</template>
